@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&family=Quicksand:wght@300..700&display=swap");

body,
html {
  font-family: "Quicksand", "Noto Color Emoji", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
textarea,
button,
select,
label,
img,
a {
  -webkit-tap-highlight-color: transparent;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}

img {
  border: 0;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -user-drag: none;
}

*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #42b983;
  border-radius: 5px;
}

:root {
  scrollbar-color: #42b983;
  scrollbar-width: thin;
}

::-moz-selection {
  color: white;
  background: #42b983;
}

::selection {
  color: white;
  background: #42b983;
}

/*

    transitions

*/

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transition: all 0.2s ease-out;
  animation: all 0.2s;
}

.fade-leave-from,
.fade-enter-to {
  opacity: 1;
  transition: all 0.2s ease-out;
  animation: all 0.2s;
}

/*

    App

*/

.mouse_icon {
  position: fixed;
  height: 100vh;
  top: 0px;
  bottom: 0px;
  right: 1rem;
  display: flex;
  align-items: center;
}

.github {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}

.switch {
  position: fixed;
  top: 1rem;
  left: 1rem;
}
