@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap");

$family-sans-serif: "Quicksand", sans-serif;

$color1: #42b983;
$color2: #2e2e2e;
$color3: #fbfbfb;
$color4: #d4d4d4;

@import "01_defaults.scss";
@import "02_helpers.scss";
@import "03_isFixed.scss";
@import "04_transitions.scss";
@import "05_zIndex.scss";

$primary: $color2;
$link: $color1;
$info: $color1;
$success: $color1;
$warning: $color1;
$danger: $color1;
$dark: $color2;
$text: $color2;

@import "bulma/bulma.sass";
