@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap");

$family-sans-serif: "Quicksand", sans-serif;

$green: #42b983;
$blue: #2e2e2e;
$paper: #fbfbfb;
$grey: #d4d4d4;

@import "defaults.scss";
@import "helpers.scss";
@import "isFixed.scss";
@import "transitions.scss";

$primary: $blue;
$link: $paper;
$info: $grey;
$success: $green;
$warning: $paper;
$danger: $blue;
$dark: $blue;
$text: $blue;

@import "bulma/bulma.sass";
