body,
html {
  overflow-x: hidden !important;
  margin: 0px !important;
  padding: 0px !important;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

input,
textarea,
button,
select,
label,
img,
a {
    -webkit-tap-highlight-color: transparent !important;
}

img {
  border: 0 !important;
  -webkit-user-drag: none !important;
  -khtml-user-drag: none !important;
  -moz-user-drag: none !important;
  -o-user-drag: none !important;
  -user-drag: none !important;
}

*::-webkit-scrollbar {
  width: 7px !important;
}

*::-webkit-scrollbar-track {
  background: transparent !important;
}

*::-webkit-scrollbar-thumb {
  background-color: #9c9c9c !important;
  border-radius: 5px !important;
}

:root {
  scrollbar-color: #9c9c9c transparent !important;
  scrollbar-width: thin !important;
}
