@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

$family-sans-serif: "Poppins", sans-serif;

$color1: #d2125f;
$color2: #8f1546;
$color3: #3c4f76;
$color4: #22314f;
$color5: #ffffff;
$color6: #000000;
