@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

$family-sans-serif: "Poppins", sans-serif;

$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;
