@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

$family-sans-serif: "Poppins", sans-serif;

$fucsia: rgb(210, 18, 95);
$azul: rgb(34, 49, 79);
$rosa: rgb(250, 152, 205);
$claro: rgb(255, 255, 255);
$oscuro: rgb(0, 0, 0);
