// global vars
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// component vars
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// only what we need
@import "bulma/sass/utilities/_all.sass";

@import "bulma/sass/helpers/_all.sass";
@import "bulma/sass/base/animations.sass";

@import "bulma/sass/base/_all.sass";

@import "bulma/sass/elements/button.sass";
@import "bulma/sass/elements/container.sass";
@import "bulma/sass/elements/title.sass";

@import "bulma/sass/form/_all.sass";

@import "bulma/sass/layout/hero.sass";
@import "bulma/sass/layout/section.sass";
