.niceBox {
    &-1 {
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    }
    &-2 {
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
    &-3 {
        box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    }
    &-4 {
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px !important;
    }
    &-5 {
        box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
            rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    }
    &-7 {
        box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px,
            rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
    }
    &-8 {
        box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    }
}
