$ruler: 16px;
$color-bg: #ebecf0;
$color-shadow: #babecc;
$color-white: #fff;

.niceInput {
    &-1 {
        input {
            border: 0;
            outline: 0;
            font-size: $ruler;
            border-radius: $ruler * 20;
            padding: $ruler;
            background-color: $color-bg;
            text-shadow: 1px 1px 0 $color-white;
            margin-right: calc($ruler / 2);
            box-shadow: inset 2px 2px 5px $color-shadow, inset -5px -5px 10px $color-white;
            width: 100%;
            box-sizing: border-box;
            transition: all 0.2s ease-in-out;
            appearance: none;
            -webkit-appearance: none;
        }
    
        :focus {
            box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
        }
        
        ::placeholder {
            color: $color-shadow;
        }

        ::-ms-input-placeholder {
            color: $color-shadow;
        }

        
        label {
            display: block;
            margin-bottom: $ruler * 1.5;
            width: 100%;
        }
    }
}
