/* 
    is-fixed
*/
.is-fixed {
    &-0 {
        position: fixed;
    }
    &-top-right {
        position: fixed;
        top: 0.75rem;
        right: 0.75rem;
    }
    &-top-left {
        position: fixed;
        top: 1rem;
        left: 1rem;
    }
    &-bottom {
        position: fixed;
        bottom: 0.75rem;
        &-right {
            position: fixed;
            right: 1rem;
            bottom: 1rem;
        }
        &-left {
            position: fixed;
            left: 1rem;
            bottom: 1rem;
        }
    }
}

/* 
    varios
*/

.pointer {
    cursor: pointer;
}

.cargando {
    &::after {
        animation: spinAround 200ms infinite linear;
        border: 2px solid rgb(224, 176, 31);
        border-radius: 9999px;
        border-right-color: transparent;
        border-top-color: transparent;
        content: "";
        display: block;
        height: 1em;
        position: relative;
        width: 1em;
    }
}

.truncar {
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    max-width: 10rem;
}

.linea {
    background: linear-gradient(to right, #f69ec4, #f9dd94 100%);
    background-position: 0 100%;
    background-size: 100% 2px;
    background-repeat: repeat-x;
}
